@import '_variables';
.html {
    // @extend%full-hw; //page size only
    min-height: 100%;
    font-family: $primary-font;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    &:root {
        --toastify-toast-background: black;
        --toastify-color-dark: black;
        --toastify-color-progress-dark: aqua;
        --toastify-color-error: red;
        --toastify-text-color-error: black;
        --toastify-text-color-success: black;
        --toastify-color-info: aqua;
        --toastify-color-success: rgb(7, 255, 152);
        --toastify-font-family: $primary-font;
    }
}
.errorToast {
    border: solid 1px rgb(255, 0, 0);
    box-shadow: 0 0 10px rgb(255, 0, 0);
    & a {
        color: rgb(255, 0, 0);
        transition: 0.2s ease-in-out;
        &:hover {
            text-shadow: 0 0 5px rgb(255, 0, 0);
        }
    }
    & svg {
        color: red;
    }
}
.successToast {
    border: solid 1px rgb(7, 255, 152);
    box-shadow: 0 0 10px rgb(7, 255, 152);
    & a {
        color: rgb(7, 255, 152);
        transition: 0.2s ease-in-out;
        &:hover {
            text-shadow: 0 0 5px rgb(7, 255, 152);
        }
    }
    & svg {
        color: rgb(7, 255, 152);
    }
}
.infoToast {
    border: solid 1px rgb(0, 255, 255);
    box-shadow: 0 0 10px rgb(0, 255, 255);
    & a {
        color: rgb(0, 255, 255);
        transition: 0.2s ease-in-out;
        &:hover {
            text-shadow: 0 0 5px rgb(0, 255, 255);
        }
    }
    & svg {
        color: rgb(0, 255, 255);
    }
}
.warningToast {
    border: solid 1px #f1c40f;
    box-shadow: 0 0 10px #f1c40f;
    & a {
        color: #f1c40f;
        transition: 0.2s ease-in-out;
        &:hover {
            text-shadow: 0 0 5px #f1c40f;
        }
    }
    & svg {
        color: #f1c40f;
    }
}
.bodyErrorToast {
    color: rgb(255, 0, 0);
    font-size: 20px;
}
.bodySuccessToast {
    color: rgb(7, 255, 152);
    font-size: 20px;
}
.bodyInfoToast {
    color: rgb(0, 255, 255);
    font-size: 20px;
}
.bodyWarningToast {
    color: #f1c40f;
    font-size: 20px;
}
.root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(#000203, #0d467b, #00f0ff);
    background-repeat: no-repeat;
}

@font-face {
    font-family: 'IcebergRegular';
    src: url('../../fonts/Iceland-Regular.ttf');
}
