@import '_variables';
.header {
    width: 100%;
}

.headerContainer {
    padding-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px 20px;
    background: none;
    align-items: center;
    justify-content: space-between;
    user-select: none;

    & h1 {
        width: max-content;
        margin: 0;
        @extend%primary-color-text;
        font-size: clamp(52px, 6vw, 104px);
        text-align: center;
    }
}
.abbreviature {
    animation: 2s ease-in-out pulse infinite;
}
.navContainer {
    height: 100%;
    margin: 30px 0;
    @extend%flex-row-centr;
}
.walletButtonContainer {
    margin: 20px;
    display: flex;
    justify-content: end;
    align-items: center;
    & button {
        background: black;
        box-shadow: 0 0 10px $primary-color;
        border: solid 1px $primary-color;
        color: $primary-color;
        transition: 0.3s ease-in-out;
        width: max-content;
        &:hover {
            box-shadow: 0 0 20px $primary-color;
            background: black;
        }
    }
    & ul {
        background: black;
        border: solid 1px $primary-color;
        box-shadow: 0 0 5px $primary-color;
        & li {
            color: $primary-color;
        }
    }
}
@media (max-width: 1280px) {
}

@media (max-width: 1124px) {
    .headerContainer {
    }
}

@media (max-width: 768px) {
    .headerContainer {
        h1 {
            margin: 20px 10px;
        }
    }
}

@media (max-width: 551px) {
    .headerContainer {
        height: 134px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        & h1 {
            margin: 0 20px;
        }
        .mainIcon {
            display: none;
        }
    }
    .walletButtonContainer {
        display: none;
    }
    .navContainer {
        display: none;
    }
}

@media (max-width: 443px) {
    .headerContainer {
        h1 {
            font-size: 40px;
            margin: 20px 20px;
        }
    }
}

@keyframes pulse {
    0% {
        filter: drop-shadow(0 0 4px $primary-color);
    }
    50% {
        filter: drop-shadow(0 0 10px $primary-color);
    }
    100% {
        filter: drop-shadow(0 0 4px $primary-color);
    }
}
