@import '_variables';
.mintPage {
    padding: 20px;
    min-height: 100vh;
    margin: 0 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px $primary-color;
    background: black;
    user-select: none;
}
.mintContainer {
    & label {
        text-shadow: 0 0 5px $primary-color;
        color: $primary-color;
        font-size: clamp(22px, 3vw, 34px);
        width: fit-content;

        &::after {
            content: attr(data-title);
            padding: 2px;
            display: block;
            position: relative;
            top: 0;
            right: 0;
            text-align: start;
            font-size: clamp(14px, 2vw, 24px);
            color: rgb(2, 131, 131);
            text-shadow: none;
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
            -ms-border-radius: 2px;
            border-radius: 0;
            overflow: hidden;
        }
    }
}
