$primary-font: IcebergRegular;
$primary-color: aqua;
$color-warn: #f1c40f;
$color-error: rgb(255, 0, 0);
$color-success: rgb(7, 255, 152);
$color-black: black;
%primary-color-text {
    color: aqua;
    text-shadow: 0 0 10px aqua;
}

%full-hw {
    width: 100%;
    height: 100%;
}
%flex-col-centr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
%flex-row-centr {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
