.navbarContainer {
    display: flex;
    flex-direction: row;
    align-items: end;
}

.navLink {
    color: blueviolet;
    text-decoration: none;
    font-size: 30px;
    margin: 20px;
}

.active {
    color: red;
    font-size: 40px;
}